
<div style="background-color: #EFEFEF">
	<div id="header" class="panel panel-default" style="margin-bottom: 0;">
		<div class="panel-body" style="padding-left: 10%">
			<img alt="logo"
				src="http://media.lpgenerator.ru/images/66339/bez-imeni-40_6KEgK3n.png#size_237x110">
		</div>
	</div>
	<div style="background-color: #2a64a4">
		<div class="container marketing"
			style="padding-top: 10px; margin-bottom: 20px">
			<!-- Three columns of text below the carousel -->
			<div class="row">
				<div class="col-lg-4 text-center">
					<div class="panel panel-default"
						style="background: none; border: none">
						<div class="panel-body" style="min-height: 380px">
							<img class="img-rounded"
								src="http://media.lpgenerator.ru/images/66339/f-5.png#size_323x213"
								alt="Ремонт и установка электрооборудования">
							<h2>Ремонт и установка электрооборудования</h2>
							<p>Ремонт и установка электрооборудования</p>
						</div>
						<div class="panel-footer" style="background: none; border: none">
							<a class="btn btn-default"
								style="background-color: #fde54c; border: 2px solid gold"
								href="#" role="button">Заказать консультацию &raquo;</a>
						</div>
					</div>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 text-center">
					<div class="panel panel-default"
						style="background: none; border: none">
						<div class="panel-body" style="min-height: 380px">
							<img class="img-rounded"
								src="http://media.lpgenerator.ru/images/66339/f-7.png#size_320x212"
								alt="Generic placeholder image">
							<h2>Шиномонтаж</h2>
							<p>Место под промо, описание</p>
						</div>
						<div class="panel-footer" style="background: none; border: none">
							<a class="btn btn-default"
								style="background-color: #fde54c; border: 2px solid gold"
								href="#" role="button">Заказать консультацию &raquo;</a>
						</div>
					</div>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 text-center">
					<div class="panel panel-default"
						style="background: none; border: none">
						<div class="panel-body" style="min-height: 380px">
							<img class="img-rounded"
								src="http://media.lpgenerator.ru/images/66339/f-4.png#size_323x213"
								alt="Generic placeholder image">
							<h2>Heading</h2>
							<p>Место под промо, описание</p>
						</div>
						<div class="panel-footer" style="background: none; border: none">
							<a class="btn btn-default"
								style="background-color: #fde54c; border: 2px solid gold"
								href="#" role="button">Заказать консультацию &raquo;</a>
						</div>
					</div>
					<!-- /.col-lg-4 -->
				</div>
				<!-- /.row -->
			</div>
		</div>
	</div>

	<!-- START THE FEATURETTES -->
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h5>
					<strong>Укажите Ваши личные данные</strong>
				</h5>
				<h5>
					<small><strong>Мы постараемся привязать Ваш заказ
							в нашей базе к Вашим записям. Это позволит нам эффективнее решить
							Ваши проблемы</strong></small>
				</h5>
			</div>
			<div class="alert alert-success alert-dismissible" role="alert"
				ng-show='showCurrentUserSuccess'>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Пользователь</strong> {{currentUser.surName}}
				{{currentUser.firstName}}
			</div>

			<div class="panel-body row featurette" style="padding: 15px">
				<div class="col-md-offset-3 col-md-6">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"
							style="min-width: 150px;">Фамилия, или телефон </span> <input
							ng-model="inputField" type="text" class="form-control"
							placeholder="Введите Фамилию или номер телефона"
							aria-describedby="basic-addon1" ng-Change="defineInput()"
							ng-model-options="{debounce: 500}">
					</div>
					<br />
					<div class="row featurette">
						<div ng-show="showResetInputButton"
							class="col-md-offset-9 col-md-2">
							<a class="btn btn-primary" role="button"
								ng-click='resetInputFields()'>отчистить</a>
						</div>
					</div>
					<br />
					<div>
						<div class="input-group" ng-show='nameInputField'>
							<span class="input-group-addon" id="basic-addon1"
								style="min-width: 150px;">Имя</span><input
								ng-model="currentUser.firstName" type="text"
								class="form-control" placeholder="Имя"
								aria-describedby="basic-addon1"
								ng-model-options="{ debounce: 500 }"
								ng-change='selectCustomerByName()'>
						</div>
						<div class="input-group" ng-show='surnameInputField'>
							<span class="input-group-addon" id="basic-addon1"
								style="min-width: 150px;">Фамилия</span><input
								ng-model="currentUser.surName" type="text" class="form-control"
								placeholder="Фамилия" aria-describedby="basic-addon1"
								ng-model-options="{ debounce: 500 }"
								ng-change='selectCustomerBySurname()'>
						</div>
						<div class="input-group" ng-show='phoneInputField'>
							<span class="input-group-addon" id="basic-addon1"
								style="min-width: 150px;">Номер Телефона</span> <input
								ng-model="currentUser.phoneNum" type="text" class="form-control"
								placeholder="Номер Телефона" aria-describedby="basic-addon1"
								ng-model-options="{ debounce: 500 }"
								ng-Change='selectCustomerByPhoneNum()'>
						</div>
						<div class="input-group" ng-show='vinCodeInputField'>
							<span class="input-group-addon" id="basic-addon1"
								style="min-width: 150px;">VIN</span> <input
								ng-model="currentUser.vinCode" type="text" class="form-control"
								placeholder="VIN код авто" aria-describedby="basic-addon1">
						</div>
						<div class="input-group" ng-show='carNumInputField'>
							<span class="input-group-addon" id="basic-addon1"
								style="min-width: 150px;">гос номер</span> <input
								ng-model="currentUser.carNum" type="text" class="form-control"
								placeholder="гос номер" aria-describedby="basic-addon1"
								ng-model-options="{ debounce: 500 }"
								ng-Change='selectCustomerByCarNum()'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h5>
					<strong>Выберите виды работ</strong>
				</h5>
				<h5>
					<small><strong>Это даст нам возможность
							спланировать сроки и порядок работ</strong></small>
				</h5>
			</div>
			<div class="panel-body row featurette">
				<div class="col-md-offset-2 col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title text-center">
								<strong>Список Доступных Работ</strong>
							</h3>
							<small><strong>(перетащите отсюда необходимые Вам
									работы)</strong></small>
						</div>
						<div class="panel-heading" style="background-color: white">
								<div class="input-group">
									<span class="input-group-addon" id="search-panel"
										style="min-width: 80px;">поиск</span> 
										<input ng-model="taskSearch" type="search" class="form-control" placeholder="" aria-describedby="search-panel"/>
									</div>	
						</div>
						<div class="panel-body" id="tasksList" ng-init="drop(event)"
							ondragover="return false"
							style="overflow: auto; max-height: 800px;">
							<a class="list-group-item"
								ng-repeat="task in responseTasksList | filter: taskSearch"
								draggable="true" ng-init="drag(event)" id="{{task.id}}"><img
								src="http://media.lpgenerator.ru/images/66339/bez-imeni-11.png"
								width=30 height=30 />&nbsp;<strong>{{task.name}}</strong></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading text-center">
							<h3 class="panel-title">
								<strong>Список Выбранных Работ</strong>
							</h3>
							<small><strong>(перетащите сюда необходимые Вам
									работы)</strong></small>
						</div>
						<div class="panel-body" style="min-height: 300px"
							id="selectedTasks" ng-init="drop(event)"
							ondragover="return false">
							
							<a class="list-group-item"
								ng-repeat="task in selectedTasksList"><img
								src="http://media.lpgenerator.ru/images/66339/bez-imeni-11.png"
								width=30 height=30 />&nbsp;<strong>{{task.name}}</strong></a>
							</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row featurette">
		<div class="col-md-offset-4 col-md-4" ng-controller='submitController'>
			<p>
				<a class="btn btn-success btn-lg btn-block"
					ng-class="{'disabled': disable}" role="button"
					ng-click='submitOrder()'>отправить заявку</a>
			</p>
		</div>
	</div>
	<!-- /END THE FEATURETTES -->


	<!-- FOOTER -->
	<footer>
		<p class="pull-right">
			<a href="#">Back to top</a>
		</p>
		<p>
			&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a
				href="#">Terms</a>
		</p>
	</footer>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
</div>
