<!DOCTYPE html>
<html lang="ru" ng-app="stoApp">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<title>sto</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/scripts/controllers.js"></script>
</head>
<body ng-controller="mainController">
	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Project name</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li class="dropdown-header">Nav header</li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>

	<div class="container marketing">

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4">
				<img class="img-circle"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Generic placeholder image" width="140" height="140">
				<h2>Heading</h2>
				<p>Место под промо, описание</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details
						&raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Generic placeholder image" width="140" height="140">
				<h2>Heading</h2>
				<p>Место под промо, описание</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details
						&raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Generic placeholder image" width="140" height="140">
				<h2>Heading</h2>
				<p>Место под промо, описание</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details
						&raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->


		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-offset-3 col-md-6">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"
						style="min-width: 150px;">Имя</span> <input
						ng-model="currentUser.firstName" type="text" class="form-control"
						placeholder="Имя" aria-describedby="basic-addon1">
				</div>
				<br />
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"
						style="min-width: 150px;">Фамилия</span> <input
						ng-model="currentUser.surName" type="text" class="form-control"
						placeholder="Фамилия" aria-describedby="basic-addon1">
				</div>
				<br />
				<div ng-show="activateAdditionalField">
					<div>We need additional data</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"
							style="min-width: 150px;">Номер Телефона</span> <input
							ng-model="currentUser.phoneNum" type="text" class="form-control"
							placeholder="Номер Телефона" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"
							style="min-width: 150px;">VIN</span> <input
							ng-model="currentUser.vinCode" type="text" class="form-control"
							placeholder="VIN код авто" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"
							style="min-width: 150px;">гос номер</span> <input
							ng-model="currentUser.carNum" type="text" class="form-control"
							placeholder="гос номер" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"
							style="min-width: 150px;">Номер Телефона</span> <input
							ng-model="currentUser.phoneNum" type="text" class="form-control"
							placeholder="номер телефона" aria-describedby="basic-addon1">
					</div>
				</div>
				<!-- /input-group -->
				<br />
				<!-- Single button -->
				<a class="btn btn-info btn-lg btn-block" role="button"
					ng-click="getCustomer()">Определить пользователя</a>
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-offset-3 col-md-6 btn-group">
				<button type="button"
					class="btn btn-info dropdown-toggle btn-lg btn-block" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					ng-click="getTasks()">
					Список Работ <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-repeat="task in responseTaskSList"
						ng-click="addToTasksList(task.name)">{{task.name}}</a></li>
				</ul>
			</div>
		</div>
		<br />
		<div class="row featurette">
			<div class="col-md-offset-3 col-md-6">
				<div class="list-group-item"
					ng-repeat="task in selectedTasksList track by $index">{{task}}</div>
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette">
		<div class="col-md-offset-3 col-md-6">
			<a class="btn btn-success btn-lg btn-block" role="button"
				ng-click="submitOrder()">отправить заявку</a>
		</div>
		</div>
		<hr class="featurette-divider">
		<!-- /END THE FEATURETTES -->


		<!-- FOOTER -->
		<footer>
			<p class="pull-right">
				<a href="#">Back to top</a>
			</p>
			<p>
				&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
				<a href="#">Terms</a>
			</p>
		</footer>
	</div>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
